@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('../assets/fonts/Raleway-Regular.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgb(37, 1, 1),
    rgb(252, 134, 154)
  );
}

.keyboard__container {
  max-width: 1200px;
  height: 100%;
  margin: 0px auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  padding: 20px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 5px;
}

.keyboard__output {
  width: 90%;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 15px;
  resize: none;
}
.keyboard__output:focus {
  border: 2px solid rgb(180, 8, 8);
}

.keyboard__keys {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #000000;
  background: darkslategray;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.keyboard__row {
  display: flex;
}

.key {
  height: 45px;
  width: 45px;
  border: 2px solid rgb(151, 12, 12);
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: rgba(26, 23, 23, 0.9);
}
.key:hover {
  color: #fff;
  background: rgb(134, 32, 32, 0.7);
  transition: all 0.5s ease-out;
}
.key.active {
  background: rgb(134, 32, 32);
  transition: all 0.3s ease-out;
}

.key__wide {
  width: 100px;
}

.key__extra-wide {
  width: 350px;
}

.keyboard__description {
  margin-top: 20px;
}
.keyboard__description p {
  font-family: 'Raleway', sans-serif;
  color: peachpuff;
  padding: 10px 0;
  letter-spacing: 2px;
}
